.mode-label {
    cursor: pointer;
    transition: 0.3s;
    background: rgba(30, 41, 59, 0.4);
}

.mode-label:hover {
    background: rgba(30, 41, 59, 0.8);
}

.btn-check:checked+.mode-label {
    background: linear-gradient(135deg, rgba(6, 182, 212, 0.2), rgba(15, 23, 42, 0.9));
    border-bottom: 4px solid var(--accent-color) !important;
    box-shadow: inset 0 0 20px rgba(6, 182, 212, 0.1);
}